body {
    background-image: url(images/aussen.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

header {
    position: relative;
}

footer{
    background-image: url(images/angi.jpg);
}

h5{
    text-decoration: underline rgb(201, 233, 247);
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: blueviolet;
}

/* selected link */
a:active {
    color: blueviolet;
}

i {
    padding-right: 12px;
}

.bilder{
    border-radius: 10px;
}

.verlinkungen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hintergrund {
    background-color: rgba(201, 233, 247, 0.719);
}

.ueberschriftHintergrund {
    background-color: rgb(201, 233, 247);
    padding: 5px;
}

.hinterZimmer{
    background-color: white;
    border-radius: 10px;

    margin-bottom: 50px;
}

.zimmer{
    text-align: center;
    color: white;
}