body{
    background-color: rgb(201,233,247);
}

.runde-ecken {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

img{
    height: 60px;
    width: 60px;
    padding:0px;
    margin:0px;
}

.card{
    background-color: rgba(255, 255, 255);
}

.hintergrund{
    background-color: rgba(255, 255, 255, 0.719);
}

.border1{
    border: 2px solid white;
    border-radius: 5px;
}