label{
    width: 300px;
}

body{
    background-color: hsl(198, 74%, 88%);
    background-image: url(images/hintergrund.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 25px;
    color:aliceblue;
}

h1{
    color: rgb(121, 191, 231);
}

h2{
    color:rgb(255, 255, 255);

}

h3{
    color:aliceblue;
}

.runde-ecken {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

p {
    font-size: 25px;
    color: aliceblue;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #A0EEFE;
}

.larger-input {
    height: 30px; 
    font-size: 16px; 
  }
